$transition: all 0.5s ease;
$color-nav_header: #E9D8B0;
$color-nav_h-hover:#AD2E24;
$color-input-sign:#a94442;
$color-txt_1-brand:#d3325f;
$color-txt_2-brand:#AED9E0;
$color-txt_menu:#f26522;
$color-bg-item:#A3895A;
$color-bg-scroll:#4B6864;
$color-bg-footer:#9FA490;
$font-Pacifico:'Pacifico',
cursive;
$breakpoints: ( sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1440px) !default;